
body{ font-family: arial}
#box{
    padding: 50px;
    width: 250px;
    margin:30px;
    height: 250px;
    background-color: rgb(88, 243, 88);
    border: 5px solid #000;
    overflow: auto;
   
}
/* #box2{
    padding: 10px;
    width: 70%;
    background-color: yellow;
    height: 200px;
    border: 1px solid #000;
    overflow: auto;
   
} */

.red{
    background-color: yellow;
    color:red;
}

.blue{
    background-color: black;
    color:lightblue;
}
.green{
    background-color: orange;
    color:lightgreen;
}


